.random-planet {
    margin-top: 30px;
}
.random-planet__block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.random-planet__block__img {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
}
.random-planet__block__img  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.random-planet__block__content {
    width: 70%;
}